/*Global Variables*/
:root {
  --background-color: #20222e;
  --recipe-background-color: #f2edda;
  --shadow-color: #808080;
  --section1-color: #40e0d0;
  --section2-color: #ff8052;
  --section3-color: #50c878;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

.di {
  display: flex;
  align-items: center;
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  background-color: var(--background-color);
  padding: 100px;
  border-radius: 20px;
}

#recipe-page-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--background-color);
  text-align: center;
  padding: 100px 0px 30px 0px;
}

.inner-recipe-container {
  background-color: var(--recipe-background-color);
  box-shadow: 0px 5px 10px var(--shadow-color);
  border-top: 10px solid transparent;
  text-decoration: none;
  color: var(--background-color);
}
.inner-recipe-container h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--background-color);
}

.inner-recipe-container p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--background-color);
}

.inner-recipe-container:hover {
  border-top: 10px solid var(--section1-color);
}

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

/*Welcome Section*/
#welcome {
  background-image: url(../img/Welcome-Background-Img.jpeg);
}
#welcome .title {
  color: var(--section1-color);
}

/*Ingredients Section*/
#ingredients {
  background: url(../img/Ingredients-Background-Img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid var(--section2-color);
}

#ingredients hr {
  background: var(--section2-color);
}

#ingredients .title {
  color: var(--section2-color);
}

#ingredients input {
  background: transparent;
  border: 1px solid var(--section2-color);
  color: white;
}

#ingredients input::placeholder {
  color: white;
  margin-bottom: 50px;
}

#ingredients input:focus::placeholder {
  color: transparent;
}

.ingredient-checkbox {
  padding: 15px 0px;
}

.ingredient-label {
  padding: 50px 10px;
  font-size: 20px;
  color: white;
}

#add-ingredient-button {
  margin-bottom: 20px;
}
#find-recipes-button {
  margin-top: 20px;
}
/*Cocktail Section*/
#cocktail-section {
  background-color: var(--background-color);
  padding: 100px;
  margin: 50px;
  border-radius: 20px;
}
.cocktail-subtitle {
  color: var(--section2-color);
  font-size: 25px;
  font-weight: bold;
}
#cocktail-title {
  color: var(--section1-color);
  font-size: 40px;
  font-weight: bold;
}

/*Back Button*/
.back-button {
  margin: 50px 0px;
}
/*Past Recipes Section*/
#pastrecipe {
  background: url(../img/Past-Recipes-Background-Img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid var(--section3-color);
}

#pastrecipe hr {
  background: var(--section3-color);
}

#pastrecipe .title {
  color: var(--section3-color);
}

/*Footer Section*/
footer {
  color: white;
  background-color: var(--background-color) !important;
  padding: 4rem !important;
}

footer strong {
  color: var(--section1-color);
}

footer a {
  color: var(--section1-color);
}
